<html>

<head>
    <script src="https://js.stripe.com/v3/"></script>
    <style>
        .StripeElement {
            box-sizing: border-box;

            height: 40px;

            padding: 10px 12px;

            border: 1px solid transparent;
            border-radius: 4px;
            background-color: white;

            box-shadow: 0 1px 3px 0 #e6ebf1;
            -webkit-transition: box-shadow 150ms ease;
            transition: box-shadow 150ms ease;
        }

        .StripeElement--focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
        }

        .StripeElement--invalid {
            border-color: #fa755a;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }
    </style>
</head>

<body>
    <h2>Welcome！</h2>
    <a href="{% url 'django_login' %}">Already signed? login</a>
    <form method="post" id="payment-form">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        <div class="form-row">
            <label for="card-element">
                Credit or debit card
            </label>
            <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
        </div>

        <button id="submit">Submit Payment</button>
    </form>
    <script>
        // Create a Stripe client.
        var stripe = Stripe('pk_test_sAR6R6vdWgoXyP3UfxstFcfj00y4BHRRax');
        var SUBSCRIPTION_BASIC_PRICE_ID = "prod_SdsjifwkeJOfdsjaD";

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', { style: style });

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');
        var DOMAIN = window.location.origin;

        var handleResult = function (result) {
            if (result.error) {
                var displayError = document.getElementById("error-message");
                displayError.textContent = result.error.message;
            }
        };

        var redirectToCheckout = function (priceId) {
            // Make the call to Stripe.js to redirect to the checkout page
            // with the current quantity
            stripe
                .redirectToCheckout({
                    sessionId: '{{CHECKOUT_SESSION_ID}}',
                    lineItems: [{ price: priceId, quantity: 1 }],
                    successUrl:
                        DOMAIN + '/success/',
                    cancelUrl: DOMAIN + "/canceled.html",
                })
                .then(handleResult);
        };

        document
            .getElementById("submit")
            .addEventListener("click", function (evt) {
                redirectToCheckout(SUBSCRIPTION_BASIC_PRICE_ID);
            });

    </script>
</body>


</html>