<!DOCTYPE html>

<html>

<head>
    <title>WhatsBusy Premium</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <h1>Welcome!</h1>
    {% if user.is_authenticated %}
    <h2>You can choose to cancel your trial.</h2>
    <h3>{{user.username}}</h3>
    <a href="{% url 'django_logout' %}">logout</a>
    {% else %}
    <a href="{% url 'django_login' %}">login</a> / <a href="{% url 'django_registration_register' %}">signup</a>
    {% endif %}
    <hr>
    {% block content %}
    {% endblock %}
</body>

</html>