{% extends 'base.html' %}

{% block content %}
<!-- <h2>Welcome, {{ user.get_full_name }} <small>{{ user.username }}</small>!</h2> -->
{% if user.is_authenticated %}
<p>Your email address: {{ user.email }}</p>
{% endif %}
hello, world
{% endblock %}