{% extends "base.html" %}
{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {% if not user.is_authenticated %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>
    {% endfor %}
    <a href="{% url 'django_registration_register' %}">Sign Up</a>
    <button type="submit">Login</button>
    <input type="hidden" name="next" value='success/'>
    {% endif %}
</form>
{% endblock %}